@import "tailwindcss";

@theme {
  --color-primary: #1f5ca9;
  --color-secondary: #00afef;
}

@layer components {
  .input {
    /* @apply border border-gray-300 rounded-sm px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary; */
    @apply w-full px-3 py-1.5 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
  }

  .button-primary {
    @apply cursor-pointer items-center bg-primary text-white px-4 py-2 rounded-sm hover:bg-blue-700 flex gap-2;
  }

  .button-secondary {
    @apply cursor-pointer items-center bg-secondary text-white px-4 py-2 rounded-sm hover:bg-blue-700 flex gap-2;
  }

  .button-destructive {
    @apply cursor-pointer bg-red-600 text-white px-4 py-2 rounded-sm hover:bg-red-800 flex gap-2;
  }
}
